html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;
	background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*background-image: linear-gradient(to right, #868f96 0%, #596164 100%);*/
}

.main-header {
	width: 1400px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: 12px;
	color: #c9dbe9;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 30px;
	border: 1px solid #c9dbe9;
	padding-top: 5px;
	border-radius: 5px;
}

.main-nav__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item a {
	margin: 0 10px;
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #c9dbe9;
	font-size: 18px;
	font-weight: 100;
}

.main-nav__item:last-child a {
	margin-right: 0;
}

main {
	width: 1400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: 98px;
	color: #c9dbe9;
	position: relative;
	margin: 0;
}

.title--up {
	font-size: 28px;
	position: absolute;
	top: -25px;
	left: 121px;
	color: #a1287f;
	font-family: 'Zen Tokyo Zoo', cursive;
 
}
.title--down {
	font-size: 28px;
	font-family: 'Zen Tokyo Zoo', cursive;
	position: absolute;
	bottom: -25px;
	right: 0;
	color: #FDB731;
}

.main-footer{
	width: 1400px;
	margin: 0 auto;
	padding: 20px
}

.hidden {
	display: none;
}


