@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto:400,900&display=swap');
/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Roboto', sans-serif; */

html,
body,
section {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.alignment {
  width: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header {
  display: flex;
  width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: #27EA3A;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #f1ffef;
}

.logo__img--lower {
  font-size: 24px;
  margin-top: -6px;
}

.logo__title {
  font-family: 'Libre Baskerville', serif;
  font-size: 56px;
  line-height: 69px;
  color: #000000;
  padding-left: 20px;
  margin: 0;
}

.main-nav--toggle {
  border: none;
  cursor: pointer;
}

.main-nav__list {
  display: none;
}

.breadcrumbs {
  height: 58px;
  padding-top: 27px;
  padding-bottom: 23px;
  background-color: #FBFBFB;
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  margin-right: 30px;
  position: relative;
  display: inline-block;
}

.breadcrumbs-item::after {
  content: '/';
  position: absolute;
  right: -17px;
  top: 0;
  color: #2d9cdb;
}

.breadcrumbs-item a {
  color: #2d9cdb;
  text-decoration: none;
}

.kurs-name {
  font-size: 32px;
  line-height: 37px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
